body {
    font-family: "M PLUS 1", "Noto Sans JP", sans-serif;
    width: 95%; /* 画面幅に合わせて調整 */
    min-width: auto; /* 最小幅を自動調整 */
    margin: auto;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 15px 5%; /* 左右のパディングを調整 */
    width: 90%; /* 画面幅に合わせて調整 */
    margin: auto;
    margin-bottom: 50px; /* マージンを調整 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h1 {
    margin: 0;
    font-size: 1.2em; /* フォントサイズを調整 */
}

.loginBtn a {
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px; /* パディングを調整 */
    border-radius: 4px;
    font-size: 0.9em; /* フォントサイズを調整 */
}

.loginBtn a:hover {
    background-color: #65bb68;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em; /* フォントサイズを調整 */
}

h2 {
    text-align: center;
    color: #008CBA;
    margin-bottom: 20px;
    font-size: 1.3em; /* フォントサイズを調整 */
}

form {
    width: 90%; /* 画面幅に合わせて調整 */
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.213);
}

.inputForm {
    margin-bottom: 40px; /* マージンを調整 */
}

.formBox {
    margin-bottom: 20px; /* マージンを調整 */
}

.formBox p {
    margin: 5px 0;
}

.formBox input[type="email"],
.formBox input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

input[type="submit"],
.resistUserBtn {
    background-color: #008CBA;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* 幅を調整 */
    display: block;
    margin: 10px auto; /* マージンを調整 */
}

input[type="submit"]:hover,
.resistUserBtn:hover {
    background-color: #23a2cc;
}

a {
    color: black;
    text-decoration: none;
}

/* メディアクエリ（スマートフォン向け） */
@media (max-width: 600px) {
    header {
        flex-direction: column; /* 要素を縦に並べる */
        align-items: flex-start; /* 左寄せ */
    }

    .loginBtn {
        margin-top: 10px; /* マージンを追加 */
    }
}